# SK account info
set imap_user="jeremy@nationbuilder.com"
set imap_pass="`gpg -q --batch -d ~/.mutt/nb/nb.imap.password.gpg`"
set smtp_url=smtps://jeremy@nationbuilder.com@smtp.gmail.com"
set smtp_pass=$imap_pass
# backup smtp server in case pluto goes kaput
#set smtp_url=smtps://kitchen@nandi.kitchen.io
#set smtp_pass="`gpg -q --batch -d ~/.mutt/sk/sk.smtp.password.nandi.gpg`"

# real name info
set realname="Jeremy Kitchen"
set from="jeremy@nationbuilder.com"
set envelope_from=yes

# folder stuffs
set folder=imaps://imap.gmail.com/
set spoolfile="=INBOX"
set record="=[Gmail]/Sent Mail"
set postponed="=[Gmail]/Drafts"

# show only my specified mailboxes by default
unmailboxes *
mailboxes =INBOX
mailboxes "=[Gmail]/All Mail"
mailboxes =notifications

# pretty slick way to query my address book
set query_command = "~/.mutt/icloud/icloud-addressbook-query.py"

# I saw this on the bitfolk mailing list
#my_hdr X-URL: http://kitchen.io/
#set signature=~/.mutt/sk/signature

# mailing lists and their relevant send hooks
source ~/.mutt/nb/subscriptions

set header_cache=~/.mutt/nb/headercache
set message_cachedir=~/.mutt/nb/messagecache

# shared
source ~/.mutt/shared/shared.rc
source ~/.mutt/shared/gpg-E572903A.rc
# vim: ft=muttrc
