[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/taskpaper.vim"]
	path = .vim/bundle/taskpaper.vim
	url = git://github.com/davidoc/taskpaper.vim.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/vim-puppet"]
	path = .vim/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".mutt/shared/solarized"]
	path = .mutt/shared/solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule ".vim/bundle/vim-git"]
	path = .vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule ".vim/bundle/gundo.vim"]
	path = .vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule ".mutt/icloud"]
	path = .mutt/icloud
	url = git://github.com/kitchen/icloud-addressbook-query.git
[submodule ".vim/bundle/nerdtree.vim"]
	path = .vim/bundle/nerdtree.vim
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/tabular.vim"]
	path = .vim/bundle/tabular.vim
	url = https://github.com/godlygeek/tabular
[submodule ".zsh/oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = .zsh/oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
