[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/LazyVim/starter
