snippet gem
	package { "${1:gemname}":
		provider => "gem",
		ensure => "${2:version}",
		${3}
	}
	${4}

snippet package
	package { "${1:packagename}":
		ensure => "${2:installed}",
		${3}
	}
	${4}

snippet arg
	'\$ARG${1:1}\$'${2}

snippet str2bool
	$${1:variable}_bool = str2bool($${1})
	${2}
