# use this key
set pgp_sign_as=0x6300CC3D

# tell people where they can get it
my_hdr X-PGP-Key: http://blog.kitchen.io/text/6300CC3D.asc
#
# sign all mail by default
set crypt_autosign

# vim: ft=muttrc:
