set copy=yes

set forward_quote
bind index "\Ca" 'imap-fetch-mail'
bind index <Tab> 'next-unread'
bind pager <Tab> 'next-unread'

macro index c "<change-folder>?<toggle-mailboxes>" "open a different folder"
macro pager c "<change-folder>?<toggle-mailboxes>" "open a different folder"

# I keep accidentally hitting q and not meaning it
set quit=ask-yes
set include
set indent_str="> "
set forward_format="FW: %s"

source ~/.mutt/shared/solarized/mutt-colors-solarized-dark-16.muttrc

set include=yes

## show message index while reading messages
set pager_index_lines=10
set pager_context=3
set pager_stop=yes

# andddd... because I did some more research, this is how I would PREFER it work :)
set menu_context = 5
set menu_scroll = yes

set edit_headers = yes
set hdrs = yes

set sort=threads
set sort_aux=date-received
set strict_threads = yes

bind pager	"G" bottom
bind index	"G" last-entry
bind browser	"G" last-entry

set index_format="%4C %Z %[%b %d %R] %-18.18F (%4c) %M %s"

# fun!
alternative_order text/plain text text/html
auto_view text/html

# GnuPG configuration
set pgp_decode_command="gpg --status-fd=2 --no-verbose --quiet --batch --output - %f"
set pgp_verify_command="gpg --status-fd=2 --no-verbose --quiet --batch --output - --verify %s %f"
set pgp_decrypt_command="gpg --status-fd=2 --no-verbose --quiet --batch --output - %f"
set pgp_sign_command="gpg --no-verbose --batch --quiet --output - --armor --detach-sign --textmode %?a?-u %a? %f"
set pgp_clearsign_command="gpg --no-verbose --batch --quiet --output - --armor --textmode --clearsign %?a?-u %a? %f"
set pgp_encrypt_only_command="pgpewrap gpg --batch --quiet --no-verbose --output - --encrypt --textmode --armor --always-trust -- -r %r -- %f"
set pgp_encrypt_sign_command="pgpewrap gpg --batch --quiet --no-verbose --textmode --output - --encrypt --sign %?a?-u %a? --armor --always-trust -- -r %r -- %f"
set pgp_import_command="gpg --no-verbose --import %f"
set pgp_export_command="gpg --no-verbose --export --armor %r"
set pgp_verify_key_command="gpg --verbose --batch --fingerprint --check-sigs %r"
set pgp_list_pubring_command="gpg --no-verbose --batch --quiet --with-colons --list-keys %r" 
set pgp_list_secring_command="gpg --no-verbose --batch --quiet --with-colons --list-secret-keys %r" 
set pgp_good_sign="^\\[GNUPG:\\] GOODSIG"
set pgp_use_gpg_agent = yes

set use_ipv6 = yes

# aliases
set alias_file = ~/.mutt/shared/aliases
source $alias_file

# vim: ft=muttrc:
