set copy=yes

set forward_quote
bind index "\Ca" 'imap-fetch-mail'
set include
set indent_str="> "

source ~/mutt-colors-solarized/mutt-colors-solarized-dark-16.muttrc


set header_cache=~/.mutt/headercache
set message_cachedir=~/.mutt/messagecache

set include=yes


## show message index while reading messages
set pager_index_lines=10
set pager_context=3
set pager_stop=yes


set edit_headers = yes
set hdrs = yes

set sort=threads
set sort_aux=date-received

bind pager	"G" bottom
bind index	"G" last-entry
bind browser	"G" last-entry

set index_format="%4C %Z %{%b %d %R} %-18.18F (%4c) %M %s"

alternative_order text/plain text text/html

auto_view text/html


# vim: ft=muttrc:
