# conditionally include squarespace configs based on where the clone is
[includeIf "gitdir:~/go/src/code.squarespace.net/**"]
	path = ~/.config/git/squarespace-conditional.config

[includeIf "gitdir:~/squarespace/**"]
	path = ~/.config/git/squarespace-conditional.config

[diff "ansible-vault"]
	textconv = ansible-vault view

[alias]
    co-release = !bash -c 'git checkout -b $USER/release-$(date +%s) origin/release'
    release = !bash -c 'git fetch && git co-release'
    release-master = !bash -c 'git release && git merge origin/master && git push origin HEAD && git checkout master && git pull'
