# SK account info
set imap_user="kitchen@scriptkitchen.com
set imap_pass="`gpg -q --batch -d ~/.mutt/sk/sk.imap.password.gpg`"
set smtp_url=smtps://mailout@inara.kitchen.io
set smtp_pass="`gpg -q --batch -d ~/.mutt/sk/sk.smtp.password.gpg`"

# real name info
set realname="Jeremy Kitchen"
set from="kitchen@kitchen.io"
alternates "kitchen@scriptkitchen.com"
set envelope_from=yes

# folder stuffs
set folder=imaps://imap.gmail.com/
set spoolfile="=INBOX"
set record="=[Gmail]/Sent Mail"
set postponed="=[Gmail]/Drafts"

# show only my specified mailboxes by default
unmailboxes *
mailboxes =INBOX
mailboxes =Archive

# pretty slick way to query my address book
set query_command = "~/.mutt/icloud/icloud-addressbook-query.py"

# I saw this on the bitfolk mailing list
my_hdr X-URL: http://kitchen.io/
set signature=~/.mutt/sk/signature

# mailing lists and their relevant send hooks
source ~/.mutt/sk/subscriptions

set header_cache=~/.mutt/sk/headercache
set message_cachedir=~/.mutt/sk/messagecache

# shared
source ~/.mutt/shared/shared.rc
source ~/.mutt/shared/gpg-6300CC3D.rc
# vim: ft=muttrc
