[user]
	name = Jeremy Kitchen
	email = jkitchen@squarespace.com
[alias]
    co-release = !bash -c 'git checkout -b $USER/release-$(date +%s) origin/release'
    release = !bash -c 'git fetch && git co-release'
    release-master = !bash -c 'git release && git merge origin/master && git push origin HEAD && git checkout master && git pull'


