# GN account info
set imap_user="jeremy.kitchen"
set imap_pass="***REMOVED***"

# FIXME: get GN to allow me to submit messages via smtp. even internally. wtf, eh
# orr... something. I mean really, I need to send emails, and I don't care, I'm using mutt. ***REMOVED***. fuck outlook
set smtp_url=smtps://mailout@inara.kitchen.io/
set smtp_pass="***REMOVED***"

# real name info
set realname="Jeremy Kitchen"
set from="jeremy.kitchen@gorillanation.com"
set envelope_from=yes

# folder stuffs
set folder=imaps://webmail.gorillanation.com/
set spoolfile="=INBOX"
set record="=Sent Items"
set postponed="=Drafts"

# aliases
set alias_file = ~/.mutt/gorillanation/aliases
source $alias_file

# mailing lists
source ~/.mutt/gorillanation/subscriptions

# shared
source ~/.mutt/shared/shared.rc

set pgp_sign_as=0x6300CC3D
set crypt_autosign

# vim: ft=muttrc
