# GN account info
set imap_user="jeremy.kitchen"
set imap_pass="`gpg -q --batch -d ~/.mutt/gorillanation/gn.imap.password.gpg`"

# FIXME: get GN to allow me to submit messages via smtp. even internally. wtf, eh
# orr... something. I mean really, I need to send emails, and I don't care, I'm using mutt. ***REMOVED***. fuck outlook
set smtp_url=smtp://jeremy.kitchen@smtp.gorillanation.com/"
set smtp_pass=$imap_pass

# real name info
set realname="Jeremy Kitchen"
set from="jeremy.kitchen@evolvemediallc.com"
set envelope_from=yes

# folder stuffs
set folder=imaps://webmail.gorillanation.com/
set spoolfile="=INBOX"
set record="=Sent Items"
set postponed="=Drafts"
unmailboxes *
mailboxes =INBOX

# mailing lists
source ~/.mutt/gorillanation/subscriptions

set header_cache=~/.mutt/gorillanation/headercache
set message_cachedir=~/.mutt/gorillanation/messagecache

# shared
source ~/.mutt/shared/shared.rc
source ~/.mutt/shared/gpg-6300CC3D.rc

# vim: ft=muttrc
